.base-dropdown {
  position: absolute;
  padding: 1rem;
  width: 200px;
  border-radius: 8px;
  margin-top: 1rem;
}

.base-dropdown::before {
  content: '';
  position: absolute;
  transform: rotate(45deg);
}

.light {
  background: var(--base-white);
  border-color: var(--blue-base);
  color: var(--base-black);
}

.dark {
  background: var(--base-black);
  border-color: var(--blue-inverse);
  color: var(--base-white);
}
