.subject.page .page-content {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.subject.page {
  padding: 0;
  gap: 0;
}

.subject .subject-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 50px;
}
