.base-button {
  padding: 12px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px;
  border-radius: 5px;
  cursor: pointer;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;

  transition: 
    transform .1s ease-in-out
}

.base-button:hover {
  transform: scale(1.1);
}

.base-button.light.solid {
  background: var(--blue-base);
  border-color: var(--blue-base);
  color: var(--base-white);
}

.base-button.light.outline {
  background: transparent;
  border-color: var(--blue-base);
  color: var(--blue-base);
}

.base-button.dark.solid {
  background: var(--blue-inverse);
  border-color: var(--blue-inverse);
  color: var(--base-white);
}

.base-button.dark.outline {
  background: transparent;
  border-color: var(--blue-inverse);
  color: var(--blue-inverse);
}

.presence-button {
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px;
  border-radius: 5px;
  cursor: pointer;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;

  background: green;
  color: var(--base-white);
  
  transition: 
    transform .1s ease-in-out
}
  
.abscense-button {
  padding: 8px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px;
  border-radius: 5px;
  cursor: pointer;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;

  background: red;
  color: var(--base-white);
  
  transition: 
    transform .1s ease-in-out
}
