.base-card {
  width: 150px;
  height: 80px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  text-align: center;
  white-space: normal;
  word-wrap: break-word;

  transition: transform 0.2s ease-in-out;
}

.base-card:hover {
  transform: scale(1.1);
}

.base-card.secondary.light {
  color: var(--base-black);
  background-color: var(--base-white);
  box-shadow: 4px 4px 30px 0 var(--shadow-base);
}

.base-card.secondary.dark {
  color: var(--base-white);
  background-color: var(--base-gray);
  box-shadow: 4px 4px 30px 0 var(--shadow-inverse);
}

.base-card.primary.light {
  color: var(--base-white);
  background-color: var(--blue-base);
  box-shadow: 4px 4px 30px 0 var(--shadow-base);
}

.base-card.primary.dark {
  color: var(--base-white);
  background-color: var(--blue-inverse);
  box-shadow: 4px 4px 30px 0 var(--shadow-inverse);
}

.card-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
