.base-card {
  width: 150px;
  height: 80px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  transition: 
    transform .2s ease-in-out
}

.base-card:hover {
  transform: scale(1.1);
}

.base-card.light {
  color: var(--base-black);
  background: var(--base-white);
  box-shadow: 4px 4px 30px 0 var(--shadow-base);
}

.base-card.dark {
  color: var(--base-white);
  background: var(--base-gray);
  box-shadow: 4px 4px 30px 0 var(--shadow-inverse);
}

.card-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
