.user-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  
  .avatar-image {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 8px;
  }
  
  .avatar-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .user-name {
    font-size: 16px;
    text-align: center;
    margin: 1rem;
  }

  .drop-arrow {
    margin: 1rem;
  }

  .dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }

  .dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }

  .light.solid {
    background: var(--base-white);
    border-color: var(--blue-base);
    color: var(--base-black);
  }
  
  .light.outline {
    background: transparent;
    border-color: var(--blue-base);
    color: var(--blue-base);
  }
  
  .dark.solid {
    background: var(--base-black);
    border-color: var(--blue-inverse);
    color: var(--base-white);
  }
  
  .dark.outline {
    background: transparent;
    border-color: var(--blue-inverse);
    color: var(--blue-inverse);
}