.page.lesson-detail {
  gap: 50px;
}

.page.lesson-detail .page-content {
  align-items: flex-start;
  gap: 50px;
}

.page.lesson-detail .menu {
  left: auto;
  right: 60px;
}

.lesson-detail .lesson-table {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  .switch-content {
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.lesson-detail .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lesson-detail .cards {
  display: flex;
  gap: 20px;
}
