.lesson-detail .page-content {
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.lesson-detail {
  position: relative;
}

.lesson-detail .menu {
  position: absolute;
  top: 130px;
  right: 60px;
}

.lesson-detail .lesson-table {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
}
