.modal {
  z-index: 1;
}

.select-list .content-body {
  height: 300px;
  overflow: auto;
}

.select-list .row-content {
  display: flex;
  flex-direction: row;
}

.select-list .row-content input {
  margin-right: 1rem;
}