.base-hero {
  width: 100%;
  padding: 0 50px 10px;
  /* position: sticky;
  top: 0;
  translate: 0 -1px; */

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  background-image: var(--blue-grad);
  color: var(--base-white);
}

.base-hero .hero-text {
  width: 35%;
  padding: 15px 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  gap: 12px;
}

.base-hero .hero-description {
  font-size: 16px;
  line-height: 150%;
}
