.base-switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.base-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.base-switch .icon-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s;
}

.base-switch input:checked + .slider .icon-container {
  transform: translateY(-50%) translateX(28px); /* Mova o ícone para a posição correta quando o base-switch está ativado */
}

.base-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -6.2px;
  bottom: 0;
  background-color: #EDEDED;
  transition: .2s;
  border-radius: 30px;
}

.base-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: var(--blue-base);
  transition: .2s;
  border-radius: 50%;
}

input:checked + .base-slider {
  background-color: var(--blue-base);
}

input:focus + .base-slider {
  box-shadow: 0 0 1px var(--blue-base);
}

input:checked + .base-slider:before {
  transform: translateX(28px);
  background-color: var(--base-white);
}

