@import url('../modal.css');

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  justify-content: space-between;
}

.file-info {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.file-info p {
  font-size: 18px;
}

.file-info .icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-info .icon p {
  font-size: 14px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-footer .button-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon.x {
  color: var(--red-base);
}

.icon.check {
  color: #639950;
}

.disabled {
  color: var(--outline-base) !important;
}

.loading-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
