.base-link-group {
  display: flex;
  align-items: flex-start;
}

.base-link-group.vertical {
  flex-direction: column;
  gap: 25px;
}

.base-link-group.horizontal {
  flex-direction: row;
  gap: 50px;
}

.base-link {
  padding-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 16px;
  font-weight: 400;

  transition: 
    transform .1s ease-in-out
}

.base-link svg {
  width: 18px;
  height: 18px;
}

.base-link.active {
  border-bottom: 3px solid;
}

.base-link.inactive {
  border-bottom: none;
}

.base-link.inactive:hover {
  transform: scale(1.05);
}

.base-link.icon {
  display: inline-flex;
}

.base-link.no-icon svg {
  display: none;
}

.base-link.light {
  color: var(--base-black);
  border-color: var(--blue-base);
}

.base-link.dark {
  color: var(--base-white);
  border-color: var(--blue-inverse);
}
