.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    color: inherit;
}

.disabled-link {
    pointer-events: none;
}