.students .user-table {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  width: 100%;

  .base-table {
    width: 100%;
  }
}

.students .search {
  width: 100%;
}
