.base-navbar {
  width: 20%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.base-navbar.light {
  background-color: var(--base-white);
}

.base-navbar.dark {
  background-color: var(--base-gray);
}

.nav-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.nav-content .logo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
