:root {
  --blue-grad: linear-gradient(90deg, #3A4089, #4E55A1, #6A73D3);
  --blue-base: #4E55A1;
  --blue-inverse: #6A73D3;
  --red-base: #E42C3A;
  --red-inverse: #E56973;
  --yellow-base: #F0B700;
  --yellow-inverse: #E9CD75;
  --base-black: #333333;
  --base-gray: #323741;
  --base-white: #FFFFFF;
  --background-base: #F5F5F6;
  --background-inverse: #262A32;
  --outline-base: #BBBBBB;
  --outline-inverse: #4D5461;
  --shadow-base: #222222;
  --shadow-inverse: #1F2228;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: inline-block;
}
